li{
	border-style: solid;
	width: 80px;
	float: left;
	list-style-type: none;
	padding-left: 40px; 
	height: 30px;
	line-height: 30px;
	background-color: blue;
	/*border: 2px;*/
	/*padding: 1px;*/
	margin-right: 3px;
}
nav{
	background-color: red;
}
a{
	color: white;
	text-decoration: none;
}
nav ul ul{
	display: none;
	position: absolute;
	right: 123px;
	top: 49px;
}
ul ul li {
	float: none;
}
nav ul li:hover > ul{
	display: block;
	color: yellow;
	/*float: left;*/

}
nav ul ul li{
	color: red;
	position: relative;
	
	/*float: none;*/
}
