li{
	border-style: solid;
	width: 80px;
	float: left;
	list-style-type: none;
	padding-left: 40px; 
	height: 30px;
	line-height: 30px;
	background-color: blue;
	/*border: 2px;*/
	/*padding: 1px;*/
	margin-right: 3px;
}
nav{
	background-color: red;
}